.container {
    padding: 100px;
}

.containerInner {
    display: flex;
    justify-content: space-around;

    flex-wrap: wrap;

    row-gap: 50px;
}

.surveyCard {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;

    flex: 50%;

}

.form {
    display: flex;
    flex-direction: column;

    gap: 7px;
}

.opportunity {
    display: flex;
    gap: 8px;
}


.button {
    border: 1px solid #000;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;

    transition: all 0.15s linear;
}

.button:hover {
    background-color: #000;
    color: #fff;
}