.container {
    padding: 100px;
    
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}

.candidate {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 30px;
}

.img {
    width: 700px;
    height: 500px;
}

.name {
    text-align: center;
}

.info {
    padding: 0 100px;
}

@media (max-width: 800px) {
    .img {
        width: 500px;
        height: 400px;
    }

    .name {
        font-size: 24px;
    }

    .info {
        padding: 0;
    }
}

@media (max-width: 600px) {
    .container {
        padding: 100px 50px;
    }

    .img {
        width: 400px;
        height: 300px;
    }
}

@media (max-width: 440px) {

    .container {
        padding: 100px 20px;
    }

    .img {
        width: 300px;
        height: 200px;
    }

    .name {
        font-size: 18px;
    }

    .info {
        font-size: 14px;
    }
}